.popup__header {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0 38px;
}

@media screen and  (max-width: 920px) {
  .popup__header {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0 75px;
  }
}