.popup__union {
  background-color: #fff;
  width: 430px;
  border-radius: 10px;
  margin: auto;
  padding: 0 36px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 920px) {
  .popup__union {
    width: 282px;
    padding: 0 25px;
  }
}